
      <footer class="bg-white iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="JavaScript:;">隐私政策</a></li>
                     <li class="list-inline-item"><a href="JavaScript:;">使用条款</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
					版权所有2020 <a href="#">Herther</a>保留所有权利。 
               </div>
            </div>
         </div>
      </footer>