<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>首页</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
       <!-- Full calendar -->
      <link href='/fullcalendar/core/main.css' rel='stylesheet' />
      <link href='/fullcalendar/daygrid/main.css' rel='stylesheet' />
      <link href='/fullcalendar/timegrid/main.css' rel='stylesheet' />
      <link href='/fullcalendar/list/main.css' rel='stylesheet' />
      <link href="/css/iconfont.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="/js/include.js"></script>

   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">

         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
		  <include src="side"></include>
		<include src="top"></include>
       
	   
      
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
               
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="text-center"><span>AVG印象数</span></div>
                           <div class="d-flex justify-content-between align-items-center">
                              <div class="value-box">
                                 <h2 class="mb-0"><span class="counter"><b>2.648</b></span></h2>
                                 <p class="mb-0 text-secondary line-height"> 26.84% </p>
                              </div>
                              <div class="iq-iconbox iq-bg-danger">
                                 <i class="iconfont">&#xe626;</i>
                              </div>
                           </div>
                              <div class="iq-progress-bar mt-5">
                              <span class="bg-danger" data-percent="80"></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="text-center"><span>AVG参与率</span></div>
                           <div class="d-flex justify-content-between align-items-center">
                              <div class="value-box">
                                 <h2 class="mb-0"><span class="counter"><b>89.6</b></span></h2>
                                 <p class="mb-0 pl-2 text-secondary line-height"> 8.64% </p>
                              </div>
                              <div class="iq-iconbox iq-bg-info">
                                 <i class="iconfont">&#xe626;</i>
                              </div>
                           </div>
                              <div class="iq-progress-bar mt-5">
                              <span class="bg-info" data-percent="50"></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="text-center"><span>平均到达率</span></div>
                           <div class="d-flex justify-content-between align-items-center">
                              <div class="value-box">
                                 <h2 class="mb-0"><span class="counter"><b>826</b></span></h2>
                                 <p class="mb-0 pl-2 text-secondary line-height"> 0.86% </p>
                              </div>
                              <div class="iq-iconbox iq-bg-success">
                                 <i class="iconfont">&#xe626;</i>
                              </div>
                           </div>
                           <div class="iq-progress-bar mt-5">
                              <span class="bg-success" data-percent="66"></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="text-center"><span>AVG运输</span></div>
                           <div class="d-flex justify-content-between align-items-center">
                              <div class="value-box">
                                 <h2 class="mb-0"><span class="counter"><b>7.55</b></span></h2>
                                 <p class="mb-0 pl-2 text-secondary line-height"> 25.5% </p>
                              </div>
                              <div class="iq-iconbox iq-bg-primary">
                                 <i class="iconfont">&#xe626;</i>
                              </div>
                           </div>
                              <div class="iq-progress-bar mt-5">
                              <span class="bg-primary" data-percent="70"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                   <div class="col-lg-8">
                     <div class="iq-card wow fadeInUp overflow-hidden" data-wow-delay="0.6s">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">常用帖子列表</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="table mb-0 table-borderless">
                                 <thead>
                                    <tr>
                                       <th scope="col">编号</th>
                                       <th scope="col">日期</th>
                                       <th scope="col">交货</th>
                                       <th scope="col">状态</th>
                                       <th scope="col">位置</th>
                                       <th scope="col">进展</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>#0879985</td>
                                       <td>26/12/2019</td>
                                       <td>30/12/2019</td>
                                       <td>
                                          <div class="badge badge-pill badge-success">移动</div>
                                       </td>
                                       <td>维多利亚8007澳大利亚</td>
                                       <td>
                                          <div class="iq-progress-bar">
                                             <span class="bg-success" data-percent="90" style="transition: width 2s ease 0s; width: 90%;"></span>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>#0879984</td>
                                       <td>23/12/2019</td>
                                       <td>27/12/2019</td>
                                       <td>
                                          <div class="badge badge-pill badge-warning text-white">待定</div>
                                       </td>
                                       <td>雅典2745希腊</td>
                                       <td>
                                          <div class="iq-progress-bar">
                                             <span class="bg-warning" data-percent="70" style="transition: width 2s ease 0s; width: 70%;"></span>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>#0879983</td>
                                       <td>18/12/2019</td>
                                       <td>21/12/2019</td>
                                       <td>
                                          <div class="badge badge-pill badge-danger">取消</div>
                                       </td>
                                       <td>维多利亚8007澳大利亚</td>
                                       <td>
                                          <div class="iq-progress-bar">
                                             <span class="bg-danger" data-percent="48" style="transition: width 2s ease 0s; width: 48%;"></span>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>#0879982</td>
                                       <td>14/12/2019</td>
                                       <td>20/12/2019</td>
                                       <td>
                                          <div class="badge badge-pill badge-info">加工</div>
                                       </td>
                                       <td>德里0014印度</td>
                                       <td>
                                          <div class="iq-progress-bar">
                                             <span class="bg-info" data-percent="90" style="transition: width 2s ease 0s; width: 90%;"></span>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <div class="iq-card wow fadeInUp" data-wow-delay="0.8s">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">发布摘要</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton4" data-toggle="dropdown">
                                 <i class="iconfont">&#xe8af;</i>
                                 </span>
<!--                                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton4">-->
<!--                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>-->
<!--                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>-->
<!--                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>-->
<!--                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>-->
<!--                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>-->
<!--                                 </div>-->
                              </div>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <p class="mb-0">总赞数评论</p>
                           <div class="m-0 p-0 d-flex flex-wrap align-items-center justify-content-between">
                              <div class="col-md-6">
                                 <div class="d-flex align-items-center  mt-4">
                                    <div class="iq-scale-border mr-3 like-block"></div>
                                    <div class="iq-scale-content">
                                       <h6>2.864</h6>
                                       <p class="mb-0">喜欢</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="d-flex align-items-center  mt-4">
                                    <div class="iq-scale-border mr-3 comment-block"></div>
                                    <div class="iq-scale-content">
                                       <h6>624</h6>
                                       <p class="mb-0">注释</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="d-flex align-items-center mt-4">
                                    <div class="iq-scale-border mr-3 share-block"></div>
                                    <div class="iq-scale-content">
                                       <h6>1.75</h6>
                                       <p class="mb-0">分享</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="d-flex align-items-center mt-4">
                                    <div class="iq-scale-border mr-3 repost-block"></div>
                                    <div class="iq-scale-content">
                                       <h6>345</h6>
                                       <p class="mb-0">重新发布</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="d-flex align-items-center mt-4">
                                    <div class="iq-scale-border mr-3 view-block"></div>
                                    <div class="iq-scale-content">
                                       <h6>845</h6>
                                       <p class="mb-0">观看次数</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="d-flex align-items-center mt-4">
                                    <div class="iq-scale-border mr-3 post-block"></div>
                                    <div class="iq-scale-content">
                                       <h6>1200</h6>
                                       <p class="mb-0">帖子</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
          
		  
            </div>
         </div>
      </div>
      <include src="Footer.html"></include>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="https://cdn.bootcdn.net/ajax/libs/apexcharts/3.11.0/apexcharts.min.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.15/amcharts.js"></script>
      <!-- am charts JavaScript -->
      <script src="http://www.amcharts.com/lib/4/core.js"></script>
<script src="http://www.amcharts.com/lib/4/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="js/kelly.js"></script>
      <!-- Flatpicker Js -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>
   </body>
</html>
