
			<!-- Sidebar  -->
			<div class="iq-sidebar">
			   <div class="iq-sidebar-logo d-flex justify-content-between">
			      <a href="index.html">
			      <img src="images/java.png" class="img-fluid" alt="">
			      <span>Herther</span>
			      </a>
			      <div class="iq-menu-bt-sidebar">
			            <div class="iq-menu-bt align-self-center">
			               <div class="wrapper-menu">
			                  <div class="main-circle"><i class="iconfont">&#xe830;</i></div>
			                  <div class="hover-circle"><i class="iconfont">&#xe831;</i></div>
			               </div>
			            </div>
			         </div>
			   </div>
			   <!--侧边栏-->
						<div id="sidebar-scrollbar">
						   <nav class="iq-sidebar-menu">
						      <ul class="iq-menu">
						         <li class="iq-menu-title"><i class="iconfont">&#xe648;</i><span>仪表盘</span></li>
						         <li>
						            <a href="index.html" class="iq-waves-effect"><i class="iconfont">&#xe655;</i><span>主页一</span></a>
						         </li>
						         
						         <li class="iq-menu-title"><i class="iconfont">&#xe655;
								 </i><span>应用</span></li>
						         <li>
						            <a href="javascript:void(0);" class="iq-waves-effect">
										<i class="iconfont">&#xe696;</i><span>管理员管理</span>
										<i class="iconfont iq-arrow-right">&#xe626;</i>
									</a>
						            <ul class="iq-submenu">
						               <li><a href="table-editable.html"><i class="iconfont">&#xe817;</i>管理员列表</a></li>
						               <li><a href="#"><i class="iconfont">&#xe63f;</i>权限</a></li>
						            </ul>
						         </li>
						 
						         <li>
						            <a href="javascript:void(0);" class="iq-waves-effect">
										<i class="iconfont">&#xe607;</i>
										<span>用户管理</span>
										<i class="iconfont iq-arrow-right">&#xe626;</i>
									</a>
						            <ul class="iq-submenu">
						               <li><a href="#"><i class="iconfont">&#xe643;</i>添加用户</a></li>
						               <li><a href="#"><i class="iconfont">&#xe696;</i>管理用户</a></li>
						            </ul>
						         </li>

								 <li>
								    <a href="javascript:void(0);" class="iq-waves-effect">
										<i class="iconfont">&#xe6d1;</i>
										<span>SQL监控</span>
										<i class="iconfont iq-arrow-right">&#xe626;</i>
									</a>
								    <ul class="iq-submenu">
								       <li>
										   <a href="#">
											   <i class="iconfont">&#xe643;</i>
											   添加用户
										   </a>
									   </li>
								    </ul>
								 </li>
								 
								 <li>
								    <a href="javascript:void(0);" class="iq-waves-effect">
										<i class="iconfont">&#xe648;</i>
										<span>系统日志</span>
										<i class="iconfont iq-arrow-right">&#xe626;</i>
									</a>
								    <ul class="iq-submenu">
								       <li><a href="#"><i class="iconfont">&#xe77f;</i>日志管理</a></li>
								    </ul>
								 </li>
						   
						      </ul>
						   </nav>
						   <div class="p-3"></div>
						</div>
						
			</div>
		

	
   